commands:
    setvars:
        command: |
            /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
            cd /var/app/current && bundle exec rails db:migrate && bundle exec rails db:seed
packages:
    yum:
        jq: []
