<% provide(:title, "Item") %>

<p id="notice"><%= notice %></p>

<h1>Item Info</h1>
<div class="jumbotron">
    <h2>Name: <%= @item.name %></h2>
    <h2>Price: $<%= @item.price %></h2>
    <h2>Description: <%= @item.description %></h2>
</div>
<hr>
