<% provide(:title, "Item") %>

<p id="notice"><%= notice %></p>

<h1>Item Info</h1>
<div class="jumbotron">
    <h2><%= @item.name %></h2>
    <h2><%= @item.price %></h2>
    <h2><%= @item.description %></h2>
</div>
<hr>
