<footer class="footer">
	<small>
		<span>&copy</span> HackOverflow <%= Date.today.year %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>
